/* Mobile */
.sidepanel{
    background-color: var(--bg);
    color: white;
    height: var(--menu-height);
    width: 100%;
    box-shadow: var(--shadow);
}
.menu{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
    color: inherit;
    border-left: #fff3 solid 1px;
    border-right: #fff3 solid 1px;
}
.menu a:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);;
}
@media (min-width: 768px){
    /* Desktop */
    .sidepanel{
        height: 100%;
    }
    .menu{
        flex-direction: column;
    }
    .menu a{
        height: 40px;
        border-left: none;
        border-right: none;
        border-bottom: #fff3 solid 1px;
    }
}