:root{
    --bg: rgb(26, 47, 58);
    --shadow: 0px 0px 15px #0004;
    --logo-height: 75px;
    --header-height: 100px;
    --menu-height: 75px;
    --menu-width: 225px;
    --screen-breakpoint: 768px;
}
#root{
    /* Mobile */
    height: 100%;
    display: grid;
    grid-template-rows: var(--logo-height) var(--menu-height) var(--header-height) 1fr;
    grid-template-areas: 
        "logo"
        "sidepanel"
        "header"
        "main";
}
@media (min-width: 768px){
    /* Desktop */
    #root{
        grid-template-columns: var(--menu-width) 1fr;
        grid-template-rows: var(--header-height) 1fr;
        grid-template-areas: 
            "logo header"
            "sidepanel main"
    }
    .logo{
        grid-area: logo;
    }
    aside.sidepanel{
        grid-area: sidepanel;
    }
    main.main{
        grid-area: main;
    }
    header.header{
        grid-area: header;
    }
}