:root{
    --shadow: 0px 0px 15px #0004;
    --header-height: 100px;
}
#root{
    
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas: 
        "sidepanel header"
        "sidepanel main";
}
aside.sidepanel{
    grid-area: sidepanel;
}
main.main{
    grid-area: main;
}
header.header{
    grid-area: header;
}